<div class="navbar ">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link backToIndex"> <i class="f7-icons icon-header-arrow-back"></i></a>
            </div>
            <div class="center sliding">{{Name}}</div>
            <div class="right sliding">
                <a href="#" class="link buttonAssetEdit"><i class="f7-icons icon-header-edit"></i></a>                
            </div>
            
            <!-- Sub navbar -->
            <div class="subnavbar">
              <div class="buttons-row">
                <a href="#" class="button tab-link active" data-id="asset.status" data-href="">
                    <span class="tabbar-label">{{@global.LANGUAGE.ASSET_STATUS_MSG07}}</span>
                </a>
                <a href="#" class="button  tab-link" data-id="asset.alarm" data-href="">
                    <span class="tabbar-label">{{@global.LANGUAGE.ALARM_MSG01}}</span>
                </a>
                <a href="#" class="button tab-link" data-id="asset.playback" data-href="">
                    <span class="tabbar-label">{{@global.LANGUAGE.ASSET_STATUS_MSG08}}</span>
                </a>
                <a href="#" class="button tab-link" data-id="asset.track" data-href="">
                    <span class="tabbar-label">{{@global.LANGUAGE.ASSET_STATUS_MSG09}}</span>
                </a>
              </div>
            </div>

        </div>
    </div>
<div class="pages">
    <div class="page with-subnavbar status_page bg-color-page" data-page="asset.status"> 
        <div class="page-content">

        	<div class="content-block status_block_top">
        		<div class="row no-gutter">
    			    <div class="col-33">
                        <i class="f7-icons icon-other-data color-dealer"></i>
                        <p class="color-black">{{@global.LANGUAGE.ASSET_STATUS_MSG00}}</p>  
                        <p class="position_data position_time color-dealer">{{Time}}</p>
                    </div>       
                    <div class="col-33">
                        <i class="f7-icons icon-other-speed color-dealer"></i>
                        <p class="color-black">{{@global.LANGUAGE.ASSET_STATUS_MSG02}}</p>  
                        <p class="position_data position_speed color-dealer">{{Speed}}</p>
                    </div>   
                    <div class="col-33">
                        <i class="f7-icons icon-other-distance color-dealer"></i>                        
                        <p class="color-black">{{@global.LANGUAGE.ASSET_STATUS_MSG10}}</p>  
                        <p class="position_data position_mileage color-dealer">{{Mileage}}</p>
                    </div>      

                                  
    			</div>
        	</div>

            <div class="list-block no-hairlines-between  media-list list-block-selectall m-0">
                <ul>
                    <li class="item-content "> 
                        <div class="item-media"><i class="f7-icons icon-other-geolock position_geolock {{#if GeolockState}} state-1 {{else}} color-gray {{/if}}"></i></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title open-geolock">{{@global.LANGUAGE.ASSET_STATUS_MSG24}}</div>
                                <div class="item-after">
                                    <label class="label-switch  ">
                                        <input type="checkbox" name="Geolock" {{#if GeolockState}}checked="checked"{{/if}}>
                                        <div class="checkbox"></div>
                                    </label>
                                </div>
                            </div>
                        </div>                  
                    </li>
                     <li class="item-content ">
                       <div class="item-media"><i class="f7-icons icon-other-lock position_immob {{#if ImmobState}} state-3 {{else}} color-gray {{/if}}"></i></div>
                       <div class="item-inner">
                           <div class="item-title-row">
                               <div class="item-title open-immob">{{@global.LANGUAGE.ASSET_STATUS_MSG25}}</div>
                               <div class="item-after">
                                   <label class="label-switch  ">
                                       <input type="checkbox" name="Immobilise" {{#if ImmobState}}checked="checked"{{/if}}>
                                       <div class="checkbox"></div>
                                   </label>
                               </div>
                           </div>
                       </div>                  
                   </li>
                </ul> 
            </div>
    		
    		<div class="list-block media-list no-hairlines no-hairlines-between  status_block_list m-0">                
                <ul >
                    <li class="item-content">
                        <div class="item-media"><i class="f7-icons icon-data-address color-dealer"></i></div>
                        <div class="item-inner">                     
                           	<div class="item-text display_address">{{Address}}</div>   
                            <div class="item-subtext position_coords">{{Coords}}</div>                  
            		    </div>
                    </li>
                    {{#if Acc}}
                        <li class="item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">                     	
                               	<div class="item-text">
                                    <div class="row no-gutter">
                                        <div class="col-40 color-gray">
                                            {{@global.LANGUAGE.ASSET_STATUS_MSG13}}  
                                        </div>
                                        <div class="col-60 position_acc color-black">
                                            {{Acc}}
                                        </div>
                                    </div>
                                </div>
                		    </div>
                        </li>
                    {{/if}}  
                    {{#if Acc2}}
                        <li class="item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">                        
                                <div class="item-text">
                                    <div class="row no-gutter">
                                        <div class="col-40 color-gray">
                                            {{@global.LANGUAGE.ASSET_STATUS_MSG14}}  
                                        </div>
                                        <div class="col-60 position_acc2 color-black">
                                            {{Acc2}}
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </li>
                    {{/if}}                     
                    {{#if Battery}}
                        <li class="item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">                        
                                <div class="item-text">
                                    <div class="row no-gutter">
                                        <div class="col-40 color-gray">
                                            {{@global.LANGUAGE.ASSET_STATUS_MSG11}}  
                                        </div>
                                        <div class="col-60 position_battery color-black">
                                            {{Battery}}
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </li>
                    {{/if}}  
                    {{#if Fuel}}
                        <li class="item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">                        
                                <div class="item-text">
                                    <div class="row no-gutter">
                                        <div class="col-40 color-gray">
                                            {{@global.LANGUAGE.ASSET_STATUS_MSG12}}  
                                        </div>
                                        <div class="col-60 position_fuel color-black">
                                            {{Fuel}}
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </li>
                    {{/if}}  
                    {{#if Temperature}}
                        <li class="item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">                        
                                <div class="item-text">
                                    <div class="row no-gutter">
                                        <div class="col-40 color-gray">
                                            {{@global.LANGUAGE.ASSET_STATUS_MSG15}}  
                                        </div>
                                        <div class="col-60 position_temperature color-black">
                                            {{Temperature}}
                                        </div>
                                    </div> 
                                </div> 
                            </div>
                        </li>
                    {{/if}} 
                    {{#if Voltage}}
                    <li class="item-content">
                        <div class="item-media"></div>
                        <div class="item-inner">                        
                            <div class="item-text">
                                <div class="row no-gutter">
                                    <div class="col-40 color-gray">
                                        {{@global.LANGUAGE.ASSET_STATUS_MSG06}}  
                                    </div>
                                    <div class="col-60 position_voltage color-black">
                                        {{Voltage}} 
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </li>
                    {{/if}}   
                    {{#if Direction}}
                        <li class="item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">                        
                                <div class="item-text">
                                    <div class="row no-gutter">
                                        <div class="col-40 color-gray">
                                            {{@global.LANGUAGE.ASSET_STATUS_MSG01}}  
                                        </div>
                                        <div class="col-60 position_direction color-black">
                                            {{Direction}}
                                        </div>
                                    </div> 
                                </div> 
                            </div>
                        </li>
                    {{/if}} 
                    {{#if Power}}                    
                        <li class="item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">                        
                                <div class="item-text ">
                                    <div class="row no-gutter">
                                        <div class="col-40">
                                            {{@global.LANGUAGE.ASSET_STATUS_MSG21}}
                                        </div>
                                        <div class="col-60 position_power color-black">
                                            {{Power}}
                                        </div> 
                                    </div>                                
                                </div>                                          
                            </div>
                        </li>
                    {{/if}}  
                    {{#if EngineHours}}                    
                        <li class="item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">                        
                                <div class="item-text ">
                                    <div class="row no-gutter">
                                        <div class="col-40">
                                            {{@global.LANGUAGE.ASSET_STATUS_MSG38}}
                                        </div>
                                        <div class="col-60 position_engineHours color-black">
                                            {{EngineHours}}
                                        </div> 
                                    </div>                                
                                </div>                                          
                            </div>
                        </li>
                    {{/if}}   
                    {{#if StoppedDuration}}                    
                        <li class="item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">                        
                                <div class="item-text ">
                                    <div class="row no-gutter">
                                        <div class="col-40">
                                            {{@global.LANGUAGE.ASSET_STATUS_MSG39}}
                                        </div>
                                        <div class="col-60 position_stoppedDuration color-black">
                                            {{StoppedDuration}}
                                        </div> 
                                    </div>                                
                                </div>                                          
                            </div>
                        </li>
                    {{/if}}            
                </ul>                
            </div>
        	

        	

        </div>
    </div>
</div>