<div class="navbar ">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only open-panel "> <i class="f7-icons icon-header-menu"></i></a>
        </div>
        <div class="center ">{{@global.LANGUAGE.MENU_MSG03}}</div>     
        <!-- <div class="right">
                <a href="#" class="link deleteAllNotifications" ><i class="f7-icons icon-other-remove"></i></a>
            </div>    -->    
    </div>
</div>

<div class="pages">
    <div class="page bg-color-page settings_page" data-page="settings">
    	
    	<div class="page-content" >        
            <div class="list-block media-list no-hairlines settings_list">
                <ul>
                    <li>
                        <a href="#" class="item-link item-content openProfilePage">
                            <div class="item-media"><i class="f7-icons icon-settings-user color-dealer"> </i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">{{@global.LANGUAGE.PROFILE_MSG08}}</div>
                                </div>          
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content openPasswordPage">
                            <div class="item-media"><i class="f7-icons icon-settings-password color-dealer"> </i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">{{@global.LANGUAGE.PROFILE_MSG10}}</div>
                                </div>          
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content openDeleteHistoryPage">
                            <div class="item-media"><i class="f7-icons icon-other-remove color-red"> </i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title color-red">{{@global.LANGUAGE.SETTINGS_MSG00}}</div>
                                </div>          
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
